body{
    background-color: rgb(43, 37, 45);
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
     
}
li{
    list-style-type: none;
    background-color: grey;
    /* width: 33%; */
    margin: 10px;
    border: 1px solid wheat;
    padding: 10px;
    box-shadow: -3px 0px 2px white;
    background-color: rgb(42, 53, 53);
    color: white;
}
button{
    padding: 5px;
    margin: 5px;
    text-transform: capitalize;
}
 .btn1 {
    background-color: green;
}
 .btn2 {
    background-color: red;
  }

  .form{
    margin-top: 50px;
    width: 35%;
    margin: auto;
    padding: 5px 0px;
    background: #242323;
    align-items: center;
    display: flex;
    gap: 10px;
    border-radius: 5px;
    border: 2px solid;
    justify-content: space-evenly;
  }
  .form button{
    background-color: darkturquoise;
    
  }

  .form input{
    height: 20px;
    border-radius: 5px;
    border: none;
    padding: 5px;
  }
  .form button{
    border-radius: 5px;
    border: none;
    padding: 5px 10px;


  }

  .main-section{
    margin-top: 30px;
  }